/* 1. Dimensiones del mapa */
.map-container {
  width: 100%;
  height: 100%; /* Media pantalla */
  min-height: 400px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #00ffcc; /* Estética acorde a tu cuenca */
  outline: 1px solid transparent;
  box-shadow: 0 0 0 1px transparent;
  border: none;
}

/* 2. Estilos para el número dentro del círculo */
/* Usamos ::ng-deep porque Leaflet crea estos elementos fuera del scope de Angular */
::ng-deep .custom-precip-icon {
  .marker-circle {
    width: 24px;   /* 👈 Consistente con el TypeScript */
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.6); // Borde más fino y translúcido
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    
    span {
      color: rgb(255, 255, 255);
      font-size: 9px;  /* 👈 Fuente más pequeña pero legible */
      font-weight: 600;
      text-shadow: none; 
    }
  }
}

#mapId {
  // Filtro para suavizar la unión de los colores y crear el efecto de área
  ::ng-deep .leaflet-canvas-layer {
    filter: blur(4px) saturate(1.2); 
    // blur: funde los círculos en áreas continuas
    // saturate: hace que los colores sean vivos como en AEMET
  }

  // Aseguramos que los popup no se vean borrosos
  ::ng-deep .leaflet-popup-pane {
    filter: none;
  }
}

