
#mapId {
  .leaflet-tile-container {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
}

.map-container {
  width: 100%;
  height: 400px; /* Altura fija para la prueba inicial */
  background-color: #1a1a1a; /* Fondo oscuro mientras carga */
}

/* Evita que los cuadros del mapa se descoloquen en Ionic */
:host {
  display: block;
}