.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 18, 18, 0.8); // Fondo semi-transparente oscuro
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.map-section {
  width: 100%;
  /* 50vh significa el 50% de la altura de la pantalla del móvil */
  height: 50vh; 
  min-height: 350px; /* Evita que se vea muy pequeño en móviles antiguos */
  max-height: 600px; /* Evita que sea gigante en tablets */
  
  position: relative;
  overflow: hidden;
  
  /* Sombra suave para separar el mapa del resto de gráficas */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

ion-spinner {
  --color: #00e676; // Color verde neón para que combine con tu dashboard
}

:host {
  display: block;
  width: 100%;
  height: 100%; // Esto le dice al componente que ocupe todo el alto que le de el padre
}

.map-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#map-container {
  width: 100%;
  height: 100%;
  /* Importante: MapLibre necesita saber que tiene espacio para pintar */
  position: absolute; 
  top: 0;
  bottom: 0;
}
// Estilo para el popup (el globo que sale al hacer click)
// Esto sobreescribe el estilo blanco por defecto de MapLibre
::ng-deep .maplibregl-popup-content {
  background: #1e1e1e !important;
  color: #ffffff !important;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #00e676; // Borde verde neón como tu "Top 5"
}

::ng-deep .maplibregl-popup-tip {
  border-top-color: #1e1e1e !important;
}

// Clase para el marcador que creamos en el TS
::ng-deep .marker-estacion {
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.5);
  }
}