/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Fuerza el scroll en el cuerpo de la aplicación */
html, body {
  overflow: auto !important;
  touch-action: pan-y !important;
  height: 100% !important;
}

/* Asegura que el contenedor de Ionic no bloquee el scroll */
ion-content {
  --overflow: auto;
  overflow: auto;
  touch-action: pan-y !important; /* Permite el scroll vertical en móviles */
}

/* Evita que el "dashboard-grid" colapse o bloquee el gesto */
.dashboard-grid {
  display: block; /* Asegura que fluya verticalmente */
  padding-bottom: 50px; /* Margen extra para que la última tarjeta no se corte */
}

/* Fix para Safari en iPhone */
.ios ion-content {
  -webkit-overflow-scrolling: touch;
}