<ion-content style="--background: #0b0e11;">
  <div class="fintech-container">

    <div class="chart-main-card">
      <div class="chart-header">
        <div class="info">
          <h2>Volumen Total Cuenca del Segura</h2>
          <div class="main-value">
            {{ volumenTotalHeader | number:'1.2-2' }} <span>hm³</span>

            <small [class]="tendenciaPositiva ? 'variation positive' : 'variation negative'">
              {{ tendenciaPositiva ? '+' : '' }}{{ porcentajeVariacion | number:'1.2-2' }}%
            </small>
          </div>
        </div>

        <div class="time-filters">
          <button (click)="updateChart('1D')" [class.active]="filter === '1D'">1D</button>
          <button (click)="updateChart('1M')" [class.active]="filter === '1M'">1M</button>
          <button (click)="updateChart('3M')" [class.active]="filter === '3M'">3M</button>
          <button (click)="updateChart('YTD')" [class.active]="filter === 'YTD'">YTD</button>
        </div>
      </div>

      <div class="chart-body">
        <canvas id="evolutionChart"></canvas>
      </div>
    </div>

    <div class="cards-wrapper">
      <div class="fintech-card">
        <div class="card-title subidas">
          <ion-icon name="trending-up-outline"></ion-icon>
          <span>Top 5 Subidas</span>
        </div>
        <div *ngFor="let e of topSubidas; let i = index" class="fintech-row">
          <div class="rank">{{ i + 1 }}</div>
          <div class="info">
            <span class="nombre">{{ e.nombre }}</span>
            <span class="subtext">Cuenca del Segura</span>
          </div>
          <div class="stats">
            <span class="volumen">{{ e.volumen | number:'1.2-2' }} <small>hm³</small></span>
            <span class="badge positive">+{{ e.variacion | number:'1.3-3' }}</span>
          </div>
        </div>
      </div>

      <div class="fintech-card">
        <div class="card-title bajadas">
          <ion-icon name="trending-down-outline"></ion-icon>
          <span>Top 5 Bajadas</span>
        </div>
        <div *ngFor="let e of topBajadas; let i = index" class="fintech-row">
          <div class="rank">{{ i + 1 }}</div>
          <div class="info">
            <span class="nombre">{{ e.nombre }}</span>
            <span class="subtext">Cuenca del Segura</span>
          </div>
          <div class="stats">
            <span class="volumen">{{ e.volumen | number:'1.2-2' }} <small>hm³</small></span>
            <span class="badge negative">{{ e.variacion | number:'1.3-3' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>